* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
body {
  width: 100vw;
}
html {
  font-size: 75%;
}
.head {
  padding: 0 2rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-image: url('./Images/Poster.png');
  background-size: cover;
  height: 65%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
.header-input {
  flex-basis: 40%;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 1rem;
}
.header-sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.img {
  padding: 5px;
  background-color: red;
  border: none;
  border-radius: 100%;
}

.header-input input {
  color: white;
  width: 10rem;
  padding: 5px;
  border: none;
  outline: none;
  background: none;
}
.section {
  padding: 2rem;
  width: 400px;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}
.wText {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 5px 15px;
  margin: 10px;
}
.play {
  background-color: red;
  width: fit-content;
  padding: 6px 16px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.play button {
  border: none;
  color: white;
  background: none;
}

/* .................Featured Movie ............... */

.featured-movie {
  margin-top: 2rem;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
.featured-movie h2 {
  font-size: 1.6rem;
}
.see-more {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.see-more span {
  color: red;
  font-size: 1.6rem;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin: 1.5rem 0rem 1.5rem 2rem;
  padding: 1rem;
}
.person {
  width: auto;
}
.image {
  width: 30rem;
  height: 40rem;
}
.ratings {
  display: flex;
  gap: 1.2rem;
  margin: 0.5rem 0px;
  font-size: 1.2rem;
}

/* ............Styling The Footer............ */

.footer {
  text-align: center;
  margin: 10px;
  padding: 1rem 2rem;
}

.footer-text,
.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 10px;
}

.footer-text {
  margin: 10px;
  font-size: 1.2rem;
}

/* ...................Styling the next page............ */
.movie-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  text-align: center;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
.sidebar {
  flex-basis: 30%;
  margin: 1rem;

  position: relative;
}
.sidebar-div {
  display: flex;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 0px 3rem 0px 3rem;
  flex-direction: column;
  text-align: center;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
}

.logo {
  margin: 0 auto;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.video {
  padding: 1rem;
  margin: 1rem;
  padding: 1rem;
  flex-basis: 60%;
}
.movie-image {
  width: 100%;
  height: 55vh;
  border: none;
  border-radius: 1rem;
  margin: 1rem 0px;
}
.play-more {
  border-radius: 20px;
  border: 1px solid rgba(190, 18, 60, 0.7);
  background: rgba(248, 231, 235, 0.4);
  padding: 0.5rem;
  min-height: 30vh;
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
}
.play-more h3 {
  font-size: 1.2rem;
  margin: 1rem;
}
.play-more p {
  margin: 10px;
}
.play-more button {
  border-radius: 30px;
  color: #be123c;
  border: none;
  background: rgba(190, 18, 60, 0.2);
  padding: 1rem;
  margin-top: 1rem;
}

.text {
  margin: 0.5rem 0rem;
  text-align: left;
  padding: 0px 0rem;
  font-size: 1.2rem;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.movie-text {
  padding: 0.3rem;
  text-align: left;
  margin: 0.5rem 0px;
}
.movie-text-p {
  font-size: 1.2rem;
}
.art2 {
  flex-basis: 75%;
  padding: 0.5rem;
}
.btn {
  margin: 0.7rem;
  text-align: center;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 200px;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #be123c;
  border: none;
  border-radius: 0.4rem;
  color: white;
}
.btn-img {
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 80%;
  }
  .header {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100vw;
    margin: 0;
    padding: 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 80%;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100vw;
    margin: 0;
    padding: 1rem;
  }
  .image {
    width: 20rem;
    height: 25rem;
  }

  .head {
    padding: 0 0.5rem;
    width: 95vw;
  }
}
@media (max-width: 750px) {
  .head {
    padding: 0;
    margin: 0;
  }
  .header-input {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem;
  }
  .image {
    width: 20rem;
    height: 30rem;
  }
}
@media only screen and (max-width: 600px) {
  .movie-wrapper {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .hide {
    display: none;
  }
}
@media only screen and (max-width: 300px) {
  .grid {
    display: block;
    width: 100vw;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }
  .ratings {
    margin: 0 auto;
  }
  .image {
    width: 20rem;
    height: 30rem;
  }

  .head {
    padding: 0 0.5rem;
  }
}
